*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 28, 38);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(4, 0, 35);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

h1{
    margin-bottom: 20px;
}

p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
    color: aliceblue;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

button{
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgb(187, 233, 233);
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px, rgba(255, 255, 255, 0.07) 0px 2px 4px, rgba(255, 255, 255, 0.07) 0px 4px 8px, rgba(255, 255, 255, 0.07) 0px 8px 16px, rgba(255, 255, 255, 0.07) 0px 16px 32px, rgba(255, 255, 255, 0.07) 0px 32px 64px;
    transition: transform .3s ease;
}

button:hover{
 opacity: .7;
 transform: scale(.8);
}

#user-score{
    color: greenyellow;
}

#computer-score{
    color: red;
}